@import "src/less/variables";

.popularPage {
  .error{
    display: flex;
    justify-content: center;
  }
  .languages {
    display: flex;
    list-style: none;
    justify-content: center;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px 15px;
      margin: 0 10px;
      cursor: pointer;
      background: black;
      color: white;
      border-radius: 5px;

      &.addLangField {
        background: none !important;
      }
    }
  }

  ul.popularList {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    li {
      list-style: none;
      flex: 0 1 20%;

      &.popularItem {
        padding: 15px 0;
        margin: 10px 0;
      }

      img {
        border-radius: 25%;
        width: 70%;
      }

      a {
        text-decoration: none;
        font-weight: bold;
        color: red;
      }
    }
  }


}

@media (max-width: 768px) {
  .popularPage {
    .languages {
      flex-direction: column;
      padding: 0px;

      li {
        margin: 5px 0;
        height: 50px;

        &:last-child {
          height: 115px;
          margin-top: 15px;

          form {
            display: flex;
            flex-direction: column;

            input[type='text'] {
              height: 50px;
              width: 200px;
              border: 1px solid black;
              border-radius: 5px;
            }

            button {
              height: 50px;
              margin-top: 15px;
              border-radius: 5px;
              background: @light-green;
            }
          }

        }
      }
    }

    ul {
      &.popularList {
        justify-content: center;
        padding: 0;
        li {
          &.popularItem {
            flex: 0 0 auto;
            border-bottom: 1px solid black;

            ul {
              display: flex;
              flex-direction: column;
              padding: 0;
              align-items: center;
              font-size: 2.5rem;
              font-weight: bold;
              .popularRank {
                text-align: center;
                font-size: 3rem;
                margin-bottom: 5px;
              }
              .ava{
                text-align: center;
              }
              .name{

              }
              .star{

              }
              .lang{

              }
              .link{

              }
            }
          }

        }
      }
    }

  }
}
